# Getting Started with PYTHON

In [2]:
# In python, comment should start with "#" .
# To run a command from keyboard - Press Shift + Enter (execute and go to next line) (or) Ctrl + Enter (Execute and stay in the same line)

In [1]:
# Command Mode - Blue Border
# Edit /Code Mode - Green Border

In [1]:
x = 3
print(type(x))

<class 'int'>

In [2]:
x=6.2
print(type(x))

<class 'float'>

In [3]:
x = "string"
print(type(x))

<class 'str'>

In [4]:
type (x)

str

In [5]:
# python is DYNAMICALLY TYPE - means no need to specify the datatype explicitly.
# python is a POINTER not a Memory bucket.

In [9]:
x = "MLAP2020"

print(x[2])

A

In [10]:
print(x[-5:-1])

P202

# VARIABLE DECLARATION AND PRINTING

In [8]:
var1 = 2
var2 = 5.0

In [9]:
var1 # we can write a code as var1 or we can write as print(var1). both is the "same thing".

2

In [10]:
var2

5.0

In [15]:
type(var1)

int

In [16]:
type(var2)

float

In [17]:
# Printing the Values

print(var1)

print(var2)

2
5.0

In [11]:
mystring = "This is MLAP Session"  #SINGLE OR DOUBLE QUOTES.

In [23]:
mystring1 = 'THIS IS 5TH SESSION IN MLAP ON 20TH JULY'

In [20]:
print(mystring)

This is MLAP Session

In [24]:
print(mystring1)

THIS IS 5TH SESSION IN MLAP ON 20TH JULY

In [25]:
mystring

'This is MLAP Session'

In [26]:
mystring1

'THIS IS 5TH SESSION IN MLAP ON 20TH JULY'

In [12]:
print (var1,var2,mystring)

2 5.0 This is MLAP Session

# Opperaions

In [28]:
var1+var2

7.0

In [30]:
var1*var2

10.0

In [31]:
var1==var2

False

In [32]:
var1==2

True

# Built in functions of PYTHON

In [34]:
round(1.234)

1

In [35]:
round(1.23456,2) # Round upto a number of decimal values

1.23

In [13]:
import math  
# To invoke some functions the packaged need to be imported. For example import a math function

In [37]:
math.ceil(1.2)

2

In [38]:
math.floor(1.2)

1

In [39]:
math.

SyntaxError: invalid syntax (<ipython-input-39-6994845579ab>, line 1)

In [41]:
pow(var1,2)

4

In [43]:
abs(-1.2)

1.2

# Sequence of NUMBERS

In [4]:

num=range(1,10)

In [45]:
num

range(1, 10)

In [46]:
type(num)

range

In [5]:
for i in num:
     print(i)

1
2
3
4
5
6
7
8
9

In [49]:
len(num)

9

In [6]:
for i in num:
    print(i,end=" ") # to print horizontally.

1 2 3 4 5 6 7 8 9

In [ ]:
#the space between print and starting point is called INDENTATION.