# Collections (LSTD) - Some More Codes

In [1]:
fruits = ['apple', 'orange', 'banana', 'papaya']

print (fruits)

print(fruits[2])

['apple', 'orange', 'banana', 'papaya']
banana

In [4]:
fruits[0]

'apple'

In [3]:
fruits[1:3]

['orange', 'banana']

In [6]:
fruits[0:]

['apple', 'orange', 'banana', 'papaya']

In [7]:
fruits[:]

['apple', 'orange', 'banana', 'papaya']

In [8]:
fruits[:-1]

['apple', 'orange', 'banana']

In [9]:
fruits[-1]

'papaya'

In [10]:
fruits[-3]

'orange'

In [12]:
len(fruits) #no of elements in the set is provided by len.

4

In [13]:
seasonal_fruits = ['mango','cherry','watermelon']

In [17]:
all_fruits = fruits+seasonal_fruits

print(all_fruits)

['apple', 'orange', 'banana', 'papaya', 'mango', 'cherry', 'watermelon']

In [18]:
'banana' in all_fruits

True

In [19]:
'grapes ' in all_fruits

False

In [20]:
all_fruits.index('banana')

2

In [21]:
all_fruits.index('grapes')

ValueError: 'grapes' is not in list

In [22]:
all_fruits.append('grapes')

In [23]:
print(all_fruits)

['apple', 'orange', 'banana', 'papaya', 'mango', 'cherry', 'watermelon', 'grapes']

In [24]:
all_fruits

['apple',
 'orange',
 'banana',
 'papaya',
 'mango',
 'cherry',
 'watermelon',
 'grapes']

In [25]:
a = [1,2,3,4,5,6,7,8,9]

b = [1,1,2,4,5,6,7,9]

print(min(a))

1

In [26]:
max(a)

9

In [27]:
len(a)

9

In [29]:
b.count(1)

2

In [33]:
a.insert(3,10)

print(a)   #first no is index and second no is what we put

[1, 2, 3, 10, 4, 5, 6, 7, 8, 9, 3, 3, 3]

In [35]:
a.insert(9,4)

print(a)

[1, 2, 3, 10, 4, 5, 6, 7, 8, 4, 4, 9, 3, 3, 3]

In [36]:
a.reverse()

print(a)

[3, 3, 3, 9, 4, 4, 8, 7, 6, 5, 4, 10, 3, 2, 1]

In [37]:
a.sort()

print(a)

[1, 2, 3, 3, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10]

In [38]:
all_fruits.sort()

print(all_fruits)

['apple', 'banana', 'cherry', 'grapes', 'mango', 'orange', 'papaya', 'watermelon']

In [39]:
all_fruits.reverse()

print(all_fruits)

['watermelon', 'papaya', 'orange', 'mango', 'grapes', 'cherry', 'banana', 'apple']

# TUPLE

In [40]:
# same as list but immutable and not changable

In [41]:
tup1 = (1,3,'orange')

print(tup1)

(1, 3, 'orange')

In [42]:
tup1[1]='a'

TypeError: 'tuple' object does not support item assignment

In [43]:
print(tup1[2])

orange

In [44]:
tup2 = tuple(a)

In [45]:
print(tup2)

(1, 2, 3, 3, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10)

In [46]:
# i can call list as tuple

# set -ordered list of non repeated elements

In [48]:
c = set([6,1,1,2,4,5,5])

print(c)

{1, 2, 4, 5, 6}

In [49]:
c.add(3)

print(c)

{1, 2, 3, 4, 5, 6}

In [50]:
d = set([2,3,4,5,6,7])

print(d)

{2, 3, 4, 5, 6, 7}

In [52]:
d.union(c)

{1, 2, 3, 4, 5, 6, 7}

In [53]:
d.intersection(c)

{2, 3, 4, 5, 6}

In [54]:
d.difference(c) #whatever is present in d is shown

{7}

In [55]:
c.difference(d) #whatever present in c is shown

{1}

In [65]:
b.remove(4)

ValueError: list.remove(x): x not in list

In [57]:
print(b)

[1, 1, 2, 4, 5, 6, 7, 9]

In [67]:
b.clear()

print(b)

[]

In [60]:
c.remove(2)

In [61]:
print(c)

{1, 3, 4, 5, 6}

In [64]:
c.remove(1)

print(c)

{3, 4, 5, 6}

In [66]:
a.remove(2)

print(a)

[1, 3, 3, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10]

In [68]:
q = set([1,3,5,7,0,9])

print(q)

q.remove(3)

print(q)

{0, 1, 3, 5, 7, 9}
{0, 1, 5, 7, 9}

In [69]:
q.clear()

print(q)

set()

# iteration

In [72]:
print(a)

[1, 3, 3, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 10]

In [70]:
for i in a: # for will stop as a is over
    print(i*2)

2
6
6
6
6
8
8
8
10
12
14
16
18
20

In [71]:
# while loops will occur till the conditions are met

In [73]:
# for loop iteration is fixed

# while loop iteration is not fixed as it is meeting the conditions

In [75]:
print(c)

{3, 4, 5, 6}

In [76]:
for i in c:
    print(i)

3
4
5
6

# dictionary

In [80]:
d1 = dict( {"one":1, "two":2, "three":3})

print(d1)

{'one': 1, 'two': 2, 'three': 3}

In [81]:
# join 2 lists and create a dictionary

names = ['one',"two","three",'four','five']

numbers = [1,2,3,4,5]

d2 = dict (zip(names,numbers))

In [82]:
print(d2)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [83]:
d1 = dict( {'one':1, "two":2, "three":3})

print(d1)

{'one': 1, 'two': 2, 'three': 3}

In [84]:
d2.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [85]:
d2.values()

dict_values([1, 2, 3, 4, 5])

In [92]:
d2['six']=6

print(d2)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [93]:
d2.pop('six') ## remove element from dictionary

6

In [88]:
print(d2)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}